body{
    background-color: #A2D3DA;
}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#myLinks a:hover {
  background-color: black;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width:55%;/* Full width */
  height: auto;
  padding:15px; /*some padding*/
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin: 25px;
}

label{
  font-weight: 600;
  font-size: 22px;
  margin: 25px;
  padding: 0;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: left;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.container{
  margin: 35px auto;
  display: grid;
  grid-gap: 50px 50px
  grid-template-columns: auto auto;
}


.artist{
  display: flex;
  flex-direction: row;
  text-align: left;
  font-weight:600;
  font-variant:small-caps;
  font-size: 22px;
  margin: 15px;
}
.img{
  display: flex;
  float: right;
  margin: 25px;
  max-width: 100%;
  height: auto;
}
.blockquote-footer{
  font-weight:400;
  font-variant:small-caps;
  font-size: 18px;
}
.blockquote text-right{
  margin: 25px;
  display: block;
  padding: 25px;
}



.img-fluid2{
  padding: 25px;
}

h1{
  margin: 10px;
  padding: 0;
}












































@media screen and (min-width:992px) {
  
  main.container {
    max-width: 1280px;
  }
}